#banner {
	width: 917px;
	height: 308px;
	margin: 0px auto;
	background-color: #000;
	.swiper {
		width: 100%;
		height: 100%;
		.swiper-button-prev,
		.swiper-button-next {
			color: #ae8854;
		}
		.swiper-pagination-bullet-active {
			background: #ae8854;
		}
		// video {
		// 	width: 100%;
		// 	height: 100%;
		// 	object-fit: cover;
		// }
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
