#video {
	width: 917px;
	margin: 0px auto;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	h1 {
		font: 25px/2 'Oswald';
		color: #ae8854;
	}
	h2 {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: #ddd;
	}
	p {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: #fff;
	}
	a {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: pink;
	}
	.category {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			display: inline-block;
			padding: 20px 20px;
		}
	}
	.tags {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			display: inline-block;
			padding: 20px 20px;
		}
	}
	.vid {
		width: 25%;
		padding: 5px;
		text-align: center;
		h1,
		a {
			font: 20px/1 'Abel';
			color: #ae8854;
		}
		h1 {
			color: #fff;
		}

		video {
			width: 100%;
			height: 400px;
			object-fit: cover;
		}
		#image {
			position: relative;
			.id {
				position: absolute;
				top: 0;
				left: 0;
				.MuiChip-root {
					height: 50px;
					.MuiAvatar-root {
						width: 40px;
						height: 40px;
					}
					img {
						object-fit: cover;
					}
					span {
						color: #fff;
						font-size: 16px;
					}
				}
			}

			.title {
				width: 200px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: baseline;
				position: absolute;
				bottom: 0;
			}
			.tag {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				position: absolute;
				top: 0;
			}
		}
	}
}
