#job {
	width: 100%;
	margin: 0px auto;
	background-color: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.category {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 6px;
		li {
			display: inline-block;
			padding: 4px 4px;
		}
	}
	.tags {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 6px;
		li {
			display: inline-block;
			padding: 4px 4px;
		}
	}
	.search {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 6px;
		li {
			display: inline-block;
			padding: 4px 4px;
		}
	}
	.card {
		width: 280px;
		height: 450px;
		padding: 35px 15px;
		margin: 10px 0;
		border-radius: 5px;
		position: relative;
		background-color: #fff;
		h1 {
			font: 20px/1 'Noto Sans KR';
			color: #ae8854;
		}
		p {
			font: 15px/1 'Noto Sans KR';
			color: #000;
		}
		.id {
			position: absolute;
			top: 5px;
			.MuiChip-root {
				height: 25px;
				.MuiAvatar-root {
					width: 20px;
					height: 20px;
				}
				img {
					object-fit: cover;
				}
				span {
					color: #000;
					font-size: 14px;
				}
			}
		}
		.deadline {
			position: absolute;
			top: 5px;
			right: 15px;
		}

		.info-card {
			background-color: #fff;
			width: 250px;
			height: 300px;
			position: relative;
			text-align: center;
			.story {
				position: absolute;
				top: 3px;
				.context {
					width: 250px;
				}
			}
			.role {
				position: absolute;
				top: 85px;
				.context {
					width: 250px;
				}
			}
			.info {
				position: absolute;
				top: 168px;
				.text {
					width: 100px;
				}
				.produce {
					position: absolute;
					left: 18px;
				}
				.location {
					position: absolute;
					left: 130px;
				}
			}
			.info2 {
				position: absolute;
				top: 235px;
				.text {
					width: 100px;
				}
				.date {
					position: absolute;
					left: 18px;
				}
				.pay {
					position: absolute;
					left: 130px;
				}
			}
		}
		.title {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			position: absolute;
			bottom: 80px;
			.name {
				width: 160px;
				text-align: center;
			}
		}
		.tag {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			position: absolute;
			bottom: 45px;
		}
		#apply {
			position: absolute;
			bottom: 6px;
		}
		#btn {
			position: absolute;
			bottom: 6px;
			right: 15px;
		}
	}
}
