#work {
	width: 917px;
	margin: 0px auto;
	background-color: #222;
	h1 {
		font: 25px/2 'Oswald';
		color: #ae8854;
	}
	h2 {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: #ddd;
	}
	p {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: #fff;
	}
	a {
		margin: 5px;
		font: 20px/1.5 'Oswald';
		color: pink;
	}
	.category {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			display: inline-block;
			padding: 20px 20px;
		}
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			display: inline-block;
			padding: 20px 20px;
		}
	}
	.cards {
		.card {
			width: 90%;

			margin: 50px auto;
			background-color: #333;
			border-radius: 5px;
			.head {
				display: flex;
				justify-content: space-between;
				padding: 10px;
				.id {
					span {
						color: #fff;
					}
				}
			}
			.content {
				.top {
					display: flex;
					justify-content: space-between;
					padding: 5px;
					.sort {
						padding: 0 5px;

						h2 {
							color: #fff;
						}
					}
					.short {
						background-color: #04aa046c;
					}
					.long {
						background-color: #042baa73;
					}
					.etc {
						background-color: #aa04aa6f;
					}
					.deadline {
						display: flex;
						justify-content: space-between;

						h2,
						p {
							color: yellow;
						}
					}
				}
				.middle {
					display: flex;
					justify-content: space-around;
					align-items: center;
					padding: 5px;
					.buttons {
						.btn {
							padding: 5px;
							margin: 2px;
						}
					}
				}
				.bottom {
					display: flex;
					justify-content: space-between;
					padding: 5px;
					.keyword {
						display: flex;
						justify-content: space-between;
					}
				}
				.more {
					#info {
						color: #fff;
					}
					.description {
						width: 100%;
						margin: 0px auto;
						background-color: #ddd;
						p {
							margin: 5px;
							font: 16px/1.5 'Oswald';
							color: #222;
						}

						h2 {
							margin: 5px;
							font: 18px/1.5 'Oswald';
							color: #000;
						}
						.story {
							margin: 1px;
							border: 1px solid #000;
						}
						.purpose {
							margin: 1px;
							border: 1px solid #000;
						}
						.details {
							display: flex;
							justify-content: space-around;

							.left {
								width: 50%;
								margin: 1px;
								border: 1px solid #000;
							}
							.right {
								width: 50%;
								margin: 1px;
								border: 1px solid #000;
							}
						}
					}
				}
			}
		}
	}
	.pages {
		#page {
			ul {
				height: 40px;
				background-color: #999;
				display: flex;
				justify-content: center;
			}
		}
	}
}
