@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oswald&display=swap');

@import 'common/reset';
@import 'common/header';
@import 'common/footer';
@import 'common/search';

@import 'login/login';
@import 'login/loginpage';
@import 'login/profile';

@import 'main/main';
@import 'main/banner';
@import 'main/video';
@import 'main/vidmodal';

@import 'sub/feedback';
@import 'sub/work';
@import 'sub/upload';
@import 'sub/mypage';
@import 'sub/intro';
@import 'sub/vidpost';
@import 'sub/location';
